.notebook_container{
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 55px;
}

.container{
	max-width: 800px;
}

.navbar {
	min-height: 50px;
}
.navbar-header {
	height: 38px;
}
.navbar .nav>li>a {
	padding-top: 15px;
	padding-bottom: 15px;
}

.navbar-brand{
	padding-left: 10px;
	padding-right: 30px;
	padding-top: 15px;
	padding-bottom: 15px;
}

body{
	font-size: 100%;
	padding: 0;
}

img{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

h1{
	line-height: 40px;
}
h2{
	line-height: 20px;
}
h3{
	line-height: 20px;
}

h1,h2,h3{
	margin-top: 5px;
	margin-bottom: 5px;
}

.rendered_html h1
{
	margin-bottom: 20px;
	margin-top: 10px;
}

.rendered_html h2,
.rendered_html h3
{
	margin-bottom: 5px;
	margin-top: 5px;
}